@page
    <div class="container" id="app">

        <p>{{status}}</p>

        <div class="row" id="dataListRow">
            <div class="col-6">
                <ul id="dataList">
                    <li v-for="item in filter(dataTable, dataFilter)" v-bind:title="item.timestamp">
                        {{ item.name }}: {{ item.value }}
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <p>
                    <input type="text" v-model="dataFilter" placeholder="Search data" />
                </p>
                <p>
                    <input type="text" v-model="nameToSet" placeholder="variable name" />
                    <input type="text" v-model="valueToSet" placeholder="new value" />
                    <input type="button" v-on:click="setClicked" value="Set" />
                </p>
                <p>
                    <input type="text" v-model="nameToGraph" placeholder="variable name" />
                    <input type="button" v-on:click="graphClicked" value="Graph" />
                </p>
            </div>
        </div>

        <div class="row" id="logListRow">
            <div class="col-6">
                <p>
                    <input v-model="logFilter" placeholder="Search logs" />
                </p>
            </div>
            <div class="col-6">
                <ul id="logList">
                    <li v-for="item in filter(logTable, logFilter)" v-bind:title="item.timestamp">
                        {{ item.name }}: {{ item.value }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" id="traceListRow">
            <div class="col-6">
                <p>
                    <input v-model="traceFilter" placeholder="Search traces" />
                </p>
            </div>
            <div class="col-6">
                <ul id="traceList">
                    <li v-for="item in filter(traceTable, traceFilter)" v-bind:title="item.timestamp">
                        [{{ item.caller }}:{{ item.lineNumber }}] {{ item.name }} = {{ item.value }}
                    </li>
                </ul>
            </div>
        </div>

    </div>
<script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
<script src="~/js/vue.js"></script>
<script src="~/js/trace.js"></script>
