@page
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            Name: <input type="text" id="nameInput" />
            <br />
            Value: <input type="text" id="valueInput" />
            <input type="button" id="sendButton" value="Set Property" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">&nbsp;</div>
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/aspnet/signalr/dist/browser/signalr.js"></script>
<script src="~/js/trace.js"></script>
