@page "/fetchdata"
@using Analyzer.Blazor.Data
@inject DataService DataService

<h1>Logged Data</h1>

@if (DataService.GetData().Length == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Value</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in DataService.GetData())
            {
                <tr>
                    <td>@item.TimeStamp</td>
                    <td>@item.Name</td>
                    <td>@item.Value</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    LoggedData[] data;

    protected override async Task OnInitAsync()
    {
        //data = await DataService.GetData();
    }
}
